/* index css */


.mainlogo {
    margin: 10px;
    width: 200px;
}

.container.maior {
    max-width: 2000px;
}
.servico {
    display: grid;
    margin-inline: 80px;
}

.servico a {
    text-align: center;
}
section.servicos {
    flex-direction: column;
    background-image: url('/assets/textura2.png');
    width: 100%;
}

.container.maior {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.servicesimg {
    width: 300px;
}

.servlink {
    text-decoration: none;
    color: var(--white);
    margin-top: 30px;
}

.credits{
    text-decoration: none;
    font-size: 8px;
    color: var(--white);
}

.servtext {
    color: var(--white);
}

.dark path{
    fill: var(--color1);
}