.mainlogo {
    margin: 10px;
    width: 200px;
}

section.servicos {
    background-color: var(--color2);
    width: 100%;
    color: var(--white);
}

.servicesimg {
    width: 300px;
}

.servlink {
    text-decoration: none;
    color: var(--white);
    margin-top: 30px;
}

.credits{
    text-decoration: none;
    font-size: 8px;
    color: var(--white);
}

.servtext {
    color: var(--white);
}